

<section class="section hidden_section" id="hidden">
    <ul class="add_question_here">
        <li class="added_questions_list"><h2>current questions added to the survey</h2></li>
    </ul>
</section>

<section class="section">
    <div id="survey_info" class="header__title">
        <h1>
            Create custom survey
        </h1>
    </div>
    <div>
        <h2>Survey Name</h2>
        <textarea name="Survey name" id="survey_name" cols="20" rows="2" placeholder="Survey name"></textarea>
        <h2>Author name</h2>
        <textarea name="Author" id="Author_name" cols="20" rows="2" placeholder="Author name"></textarea>
    </div>
    <div calss="btn">
        <button class="btn add__questions__1 btn__question" id="add__questions__1" data-tab="1">
            Add open question
        </button>
        <button class="btn add__questions__2 btn__question" id="add__questions__2" data-tab="1">
            Add closed question
        </button>
        <button class="btn add__questions__3 btn__question" id="add__questions__3" data-tab="1">
            Add multi-choice question
        </button>
    </div>

</section>

<section id="parent">
    <section class="section hidden_section" id="hidden">
        <ul class="add_question_here" id="add_question_here">
            <li class="added_questions_list"><h2>current questions added to the survey</h2></li>
        </ul>
    </section>
    <section class="questions_section padded_section" id="question_section">
    </section>


    <section class="padded_section" id="hidden">
        <div class="btn">
            <button class="btn submit_survey" id="submit_survey" data-tab="1">
                Submit Survey!
            </button>
        </div>
    </section>
</section>

<section class="questions_section padded_section" >
</section>
